@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
	font-family: 'Raleway';
	color: white;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapperHowdowework{
   background-color: rgb(22, 24, 34);
   margin-top: 5em;
  
}

.header-text-eng {
	color: white;
	font-family: 'Raleway';
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-weight: 800;
	text-align: center;
	font-size: 2.5em;
	margin-top: 3em;
	margin-left: 0.8em;
	text-align: left;
}

.bodytext-eng {
	font-family: 'Raleway';
	color: white;
	letter-spacing: 0.08em;
	line-height: 2em;
	padding: 20px;
	font-weight: 300;
	margin-top: 30px;
}

.laptop{
	position: absolute;
	left: -50%;
	top: -300px;
	height: 200px;
}

@media (max-width: 1199px) {
	.laptop {
		left: -70%;
	}

}

@media (max-width: 1024px) {
	.laptop {
		left: -50%;
		height: 500px;
		top: -230px;}

}



.all-caps {
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-weight: 600;
	color: white;
	font-family: 'Raleway';
	font-size: 0.8em;
	text-align: center;
}

.technologies img{
	padding-left: 15px;
}

.stroke {
	border: 1px #2e3039 solid;
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
}

.p-list {
	color: rgb(237,79,46);
	font-weight: 600;
	letter-spacing: 0.1em;
	font-family: 'Raleway';
	padding-left: 45px;
	list-style-image: url('img/eng_bullit.svg');
}

.p-link {
	color: rgb(237,79,46);
}


.p-link:hover {
	color: rgb(237,79,46);
	font-weight: 600;
	letter-spacing: 0.1em;
	font-family: 'Raleway';
	cursor: pointer;
}