.header {
	color: white;
	font-size: 4em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
  font-weight: 200;
  margin-top: 25vh;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}


.h1-word1 {
 opacity: 0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.h1-word2 {
 opacity: 0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.h1-word3 {
 opacity: 0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}

.h1-word4 {
  opacity: 0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}