@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');


.wrapperContacts{
	background-color: rgb(22, 24, 34);
	height: 600px;
}



.content {
	position: absulute;
	left: 300px;
	margin-bottom: 100px;
}