.hrstyle {
border-top: dotted 3px;
margin-top: 80px
}

.h0 {
	font-size: 10em;
	color: white;
	font-family: Raleway;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 0.8em;
    margin-right: 20px;
}

.descriptionhold {
    color: white;
    font-family: 'Raleway';
    letter-spacing: 0.1em;
    line-height: 2em;
    margin-bottom: 0em;


}

@media (max-width: 1201px) {

    .descriptionhold {
        color: white;
        font-family: 'Raleway';
        letter-spacing: 0.1em;
        line-height: 2em;
        margin-bottom: 0em;
        display: block;
        padding-left: 50px;

    }

}

@media (max-width: 1024px) {

    .h0 {
        
}

    .descriptionhold {
        padding-left: 5px;
    }

}





.promoImageWrapper {

}

.promoimage {

}

.top-buffer{
    margin-top: 30em;
}

.button {
	background-color: transparent;
    border: 3px solid;
    border-color: white;
    color: white;
    padding: 10px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.15em;
    margin-top: 2em;

}

.button:hover {
	background-color: white;
	color: rgb(22, 24, 34);
    border: 3px solid;
    border-color: white;
    padding: 10px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.15em;
    cursor: pointer;

}

