#header {
  margin-top: 4em;
  margin-bottom: 15em;
}

.navFooter{

  color: white;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  letter-spacing: 0.1em;
}



.header-footer-li {
    float: left;
}

.header-footer-a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px;
    text-decoration: none;
}

.header-footer-a:hover {
    text-decoration: none;
    color: white;
    border-bottom: none;
    font-weight: 800;
}

.copyright{
  color: white;
  font-family: 'Raleway';
  letter-spacing: 0.1em;
}

.copyrightsign {
  padding-right: 3px;
}

.floatBlockFooter {
  width: 100%;
  height: 10px;
  float: left;
  background-color: rgb(46,48,57);
}

